.container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.gamesGalleryTitle{
    font-size: 2.5rem;
}

.games {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.searchBar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.searchBar input {
    padding: 8px;
    font-size: 16px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.searchBar button {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #2e86de;
    color: white;
    cursor: pointer;
}

.gameCard {
    background: #1e1e1e;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    width: 9.5%;
    cursor: pointer;
}

.gameCard img {
    width: 100%;
    height: 205px;
    border-radius: 5px;
}

.gameCard:hover {
    transform: scale(1.03);
    background: #292929;
}

.gameCard h3{
    color: #fff;
    margin: 8px 0;
    font-size: 1rem;
}