 .reviewsPage {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
 }

 .reviewsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
 }

 .reviewPageTitle {
     text-align: center;
     font-size: 2rem;
 }

 .reviewCard {
     width: 49%;
     padding: 10px;
     display: flex;
     background: #1e1e1e;
     color: #ffffff;
 }